<a href="https://colab.research.google.com/github/LeosChecchia/TT-2C2025-Data-Analitycs-Notebooks/blob/main/Clase_1/Mis_notebooks/Clase_1_Actividad_2_Repaso_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Propiedades de Tipos de Datos

Repasemos cuáles son los tipos de datos nativos en Python más utilizados.

## Tipos de Datos Simples

* **int:** Números enteros. Ejemplo: `x = 5`
* **float:** Números de punto flotante. Ejemplo: `y = 3.14`
* **str:** Cadenas de texto. Ejemplo: `nombre = "Alice"`
* **bool:** Valores booleanos (`True`/`False`). texto en negrita

## Tipos de Datos Complejos

* **list:** Colección ordenada y mutable. Ejemplo: `lista = [1, 2, 3]`

In [1]:
lista = [1,2,3]
lista.append(4)
print(lista)

[1, 2, 3, 4]

tuple: Colección ordenada e inmutable. Ejemplo: tupla = (1, 2, 3)

In [2]:
tupla = (1, 2, 3)

dict: Colección de pares clave-valor. Ejemplo: diccionario = {"clave1": "valor1", "clave2": "valor2"}

In [16]:
diccionario = {"clave1": "valor1", "clave2": "valor2"}

* **set:** Colección desordenada de elementos únicos. Ejemplo: {1, 2, 3}

In [4]:
set = {1,2,3}
set.add(4)
print(set)
set.add(3)
print(set)

{1, 2, 3, 4}
{1, 2, 3, 4}

* **frozenset:** Colección desordenada de elementos únicos e inmutable. Ejemplo: `frozenset({1, 2, 3})`

In [5]:
frozenset({1, 2, 3})

frozenset({1, 2, 3})

In [ ]:
# Ejercicio de lista

texto

In [ ]:
# Ejercicio de diccionario

Alicia

# 2. OPERADORES
Son símbolos que se aplican a uno o varios operandos en una expresión o instrucción con el fin de obtener cierto resultado

###2.1. OPERADORES ARITMÉTICOS


- suma +
- resta -
- multiplicación *
- potencia **
- división /
- división entera //
- módulo (resto de la división) %

###2.2. OPERADORES DE ASIGNACIÓN


Dada una variable, puedo asignarle un valor, escribiendo


a = 5 # el operador **igual a**


a += 4 # toma el valor actual de a y le suma 4 -> ahora vale 9  


a -= 3 # toma el valor actual de a y le resta 3 -> ahora vale 6


a *= 2 # toma el valor actual de a y lo multiplica por 2 -> 12


a /= 3


a //=3


a %= 3

###2.3. OPERADORES RELACIONALES


Devuelven un valor booleano. Se usan para crear los condicionales y poder alterar el flujo de nuestro programa
Dados a y b

a == b # si son iguales -> Devuelve True o False

a != b # a no es igual a b

a < b # a es menor que b

a > b # a es mayor que b

a <= b # a es menor o igual que b

a >= b # a es mayor o igual que b

###2.4. OPERADORES LÓGICOS o BOOLEANOS



and # evalúa si ambos operandos son True

or # evalúa si al menos uno de los operandos es True

not # cambia el valor del operando

###2.5. OPERADORES DE PERTENENCIA



Devuelve True o False dependiendo de si un elemento pertenece o no a una secuencia de datos

IN

NOT IN

#Ejercicios


1. Crear una lista con varios tipos de datos y acceder a sus elementos.

In [8]:
mi_lista = [ 'A', 'B' , 'C', 'D']
print(mi_lista)

['A', 'B', 'C', 'D']

2. Crear un diccionario y acceder a sus valores por clave.

In [17]:
mi_diccionario = {"clave1": "valor1", "clave2": "valor2", "calve3": "valor3"}
print(mi_diccionario["clave1"])

valor1

3. Generar una lista con los números del 1 al 5. Crear otra lista con el cuadrado y otra con la raíz cuadrada de esos números

In [19]:
# Importar math y usar metodos pow y sqrt

import math

numeros = list(range(1, 6))
print(numeros)  # Resultado: [1, 2, 3, 4, 5]

cuadrados = [n**2 for n in numeros]
print(cuadrados)  # Resultado: [1, 4, 9, 16, 25]

cuadrados = [pow(n,2) for n in numeros]
print(cuadrados)


raices = [math.sqrt(n) for n in numeros]
print(raices)  # Resultado: [1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

4. Encontrar el mínimo y máximo de una lista

In [20]:
# import math
numeros = [12, 7, 25, 3, 19]
min(numeros)

3

5. Calcular el promedio de los números de una lista

In [22]:
# import math
import statistics
import math

notas = [7.5, 8.0, 6.5, 9.0, 10.0]

promedio = statistics.mean(notas)

print(promedio)

8.2